<section class="session-new">
  <h1>Login</h1>
  <br>
  <%= form_tag sessions_path do %>

    Email: <%= text_field_tag :email %>&nbsp;&nbsp;
    Password: <%= password_field_tag :password %><br>
    <br>
    <%= submit_tag "Submit", class: "btn btn-success"  %>

  <% end %>
</section>