<div class="card border-left-primary">

  <div class="card-header">
    <h4>Admin Dashboard</h4>
  </div>
  
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Total products</th>
          <th colspan="2">Total categories</th>
        </tr>
      </thead>
      <tbody>
        <th colspan="2"><%= @total_products %></th>
        <th><%= @total_categories %></th>
      </tbody>
    </table>
    <br>

    <%= link_to admin_products_path do %>
      <button class="btn">See admin product list</button>
    <% end %>
  </div>

</div>

