<section class="about-index">
  <header class="page-header">
    <h1>About Us</h1>
  </header>
  
  <div class="intro">
    <p>
      The Jungle is dedicated to bringing the beauty of nature to your doorstep with a wide selection of evergreen shrubs and trees. Our mission is to help Canadians connect with nature by offering a diverse range of low-maintenance plants that will add natural beauty to any space.
    </p>
    <p>
      We take pride in providing exceptional customer service and strive to make every experience unforgettable. Our team is dedicated to optimizing every aspect of the customer journey, from the ordering process to the delivery and unboxing experience. We believe in creating a seamless experience from start to finish.
    </p>
    <p>
      At The Jungle, we believe that customer satisfaction is paramount. We're always available to answer any questions, address concerns, and provide helpful tips for plant care. Our goal is to help every customer create a space they love with beautiful, low-maintenance plants that bring them closer to nature.
    </p>
  </div>

</section>
