main section.products-index,
main section.categories-show {
  .products {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
    grid-template-rows: min-content;

    @media screen and (max-width: 1500px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    article {
      .soldout {
        min-width: 110px;
        background: rgba(224, 14, 14, 0.8);
        border: 1px solid rgba(224, 14, 14, 0.8);
        border-radius: 0.25em;
        color: white;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
      }

      a {
        text-decoration: none;
      }
      font-family: "Montserrat";
      width: 100%;
      position: relative;
      text-align: center;
      border-radius: 0.25em;
      border: 0.1em solid rgba(0, 130, 29, 0.3);
      box-shadow: rgba(0, 130, 29, 0.16) 0px 3px 6px, rgba(0, 130, 29, 0.23) 0px 3px 6px;
      // transition: opacity 300ms linear;

      &:hover {
        transition: all 150ms linear;
        background-color: rgba(0, 130, 29, 0.7);
        h1 {
          color: white;
        }

        button {
          background: white;
          color: rgba(0, 130, 29, 0.7);
        }
      }
      img {
        width: 100%;
        height: auto;
        border: none;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
      }
      h1 {
        margin: 0;
        padding: 0.25em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(0, 130, 29, 0.7);
        font-weight: 700;
        font-family: "Montserrat";
        span {
          font-size: 0.8em;
        }
        span:last-of-type {
          font-size: 0.5em;
        }
      }
      div {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        form {
          display: inline-block;
          margin-left: auto;
        }
        button {
          min-width: 110px;
          padding-left: 1em;
          padding-right: 1em;
          background-color: rgba(0, 130, 29, 0.7);
          color: white;
        }
      }

      .rating {
        margin-bottom: 2rem;
        margin-top: -0.6rem;
        
        span {
          font-size: 18px;
          color: rgba(0, 130, 29, 0.7);
        }
        
      }
    }
    
  }
}

.product-review {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .review {
      border: 1px solid black;
      padding: 1rem;
      margin-bottom: 2rem;
      width: 100%;
      border-radius: 0.2rem;
    }
    
    p {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    h4, h5 {
      margin-bottom: 1rem;
    }
  }

  .btn-danger {
    width: min-content;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
  }
}

.new-review {
  display: flex;
  justify-content: start;
  width: 100vw;

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }

    select, textarea {
      width: 100%;
      padding: 0.5em;
      border-radius: 0.25em;
      border: 1px solid #ccc;
      margin-bottom: 1em;
    }

    button[type="submit"] {
      width: 100%;
      padding: 0.5em;
      background-color: #00821d;
      color: white;
      border: none;
      border-radius: 0.25em;
      font-size: 1.1em;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

